
<form action="/flights" method="get">
  <% airports_selection = ["Paris","New York","Madrid","Oslo","New York","Chicago","Los Angeles","Bern","Shanghai","Beijing","Bangkok","Hanoi","Vientiane","Kuala Lumpur","Johannesburg","Buenos Aires"].map { |x| [x, x] } %>
  <label>From:</label>
  <%= select_tag(:origin, options_for_select(airports_selection)) %>

  <label>To:</label>
  <%= select_tag(:destination, options_for_select(airports_selection)) %>

  <label for="departure">Date</label>
  <input type="date" name="departure" id="departure">

  <label>Passenger</label>
  <%= select_tag(:passengers, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>

  <%= submit_tag("Search") %>
</form>

