.banner {
  margin-top: 0;
  color: #303030;
  text-align: center;
  // height: 45vh;
  height: 50vh;
  background-size: cover !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // background-attachment: fixed;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.banner label {
  color: white;
}

.banner form {
  opacity: 0.8;
}

.banner .banner-content {
  position: absolute;
  top: 10px;
}
